/* === COMMON STYLE ================================================================================================= */

* {
    padding: 0;
    margin: 0;
    border: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}

body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
}

.page {
    position: relative;
}

.noScroll {
    overflow: hidden;
}

/* === HEADER ======================================================================================================= */

.header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 85.79%;
    transform: translateX(-50%);
}

.header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #FFFFFF;
}

.header__nav {
    padding: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320))) 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    transition: background-color, 0.3s;
}

.nav__logo:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color, 0.3s;
}

.nav__logo:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}

.nav__list-link {
    position: relative;
    display: block;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 100%;
}

.nav__list-link::before,
.nav__list-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    background-color: #FFFFFF;
}

.nav__list-link::before {
    left: 0;
}

.nav__list-link::after {
    right: 0;
    background-color: #FFFFFF;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__list-link:hover::before {
    width: 100%;
    background-color: #FFFFFF;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__list-link:hover::after {
    width: 100%;
    background-color: transparent;
    transition: 0s;
}

.nav__list-link:active {
    color: rgba(255, 255, 255, 0.7);
}

.nav__burger-button {
    display: none;
    align-self: center;
    width: 50px;
    cursor: pointer;
}

.nav__burger-button span {
    position: relative;
    top: 0;
    display: block;
    width: 50px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
}

.nav__burger-button span:nth-child(3) {
    margin-bottom: 0;
}

.nav__burger-button.open span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
}

.nav__burger-button.open span:nth-child(2) {
    opacity: 0;
}

.nav__burger-button.open span:nth-child(3) {
    top: -15px;
    transform: rotate(-45deg);
}

@media screen and (max-width: 629px) {
    .nav__list {
        position: fixed;
        top: -1000px;
        left: -14.21%;
        width: 114.21vw;;
        height: 100vh;
        padding: 15vh 0;
        flex-direction: column;
        background: linear-gradient(to bottom, rgb(124, 113, 101) 0%, rgb(72, 50, 41) 100%);
        transition: top 0.6s;
    }
    .nav__list-link {
        color: #FFFFFF;
        font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1920 - 320)));
        line-height: 120%;
    }
    .nav__list-link::before,
    .nav__list-link::after,
    .nav__list-link:hover::before,
    .nav__list-link:hover::after,
    .nav__list-link:active {
        display: none;
    }
    .nav__burger-button {
        display: block;
    }
    .nav__list.open {
        top: 0;
        transition: top 0.6s;
    }
}

/* === MAIN ========================================================================================================= */

.main {
}

/* === HERO ========================================================================================================= */

.main__hero {
    position: relative;
    height: 100vh;
}

.hero {
    background-image: url("../img/hero/hero-bc-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__content {
    position: absolute;
    top: 31.15%;
    left: 13.39%;
    width: 44.375%;
}

.hero__title {
    margin-bottom: calc(30px + (57 - 30) * ((100vw - 320px) / (1920 - 320)));
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: calc(36px + (60 - 36) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.hero__button-wrapper {
}

.hero__button {
    position: relative;
    display: inline-block;
    width: 277px;
    padding: 16px 65px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
    cursor: pointer;
}


.hero__slider-wrapper {
    width: 85.79%;
    margin: 0 auto;
}

.hero__slider {
    position: absolute;
    bottom: 6.034%;
    left: 7.187%;
    display: flex;
    column-gap: 12px;
}

@media screen and (max-width: 1023px) {
    .hero__content {
        position: static;
        width: 80%;
        margin: 0 auto;
        padding-top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__title {
        text-align: center;
    }
}

/* === MISSION ====================================================================================================== */

.main__mission {
}

.mission {
}

.mission__container {
    width: 85.79%;
    margin: 6.34% auto 9.31%;
}

.mission__title-wrapper {
    width: 65.83%;
    margin: 0 auto 7.78%;
}

.mission__title-wrapper::before, .mission__title-wrapper::after {
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mission__title-wrapper::before {
    margin: 0 auto 60px;
}

.mission__title-wrapper::after {
    margin: 60px auto 0;
}

.mission__title {
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.mission__cards-wrapper {

}

.mission__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 13.964%;
}

.mission__cards-card {
    width: 24.043%;
}

.mission__cards-number {
    margin-bottom: 36px;
    color: #F1EDEA;
    font-family: "Open Sans", sans-serif;
    font-size: 144px;
    line-height: 100%;
}

.mission__cards-title {
    margin-bottom: 16px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 100%;
}

.mission__cards-text {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

@media screen and (max-width: 1023px) {
    .mission__cards {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
    }
    .mission__cards-card {
        width: 100%;
        padding: 15px;
    }
    .mission__cards-number,
    .mission__cards-title,
    .mission__cards-text {
        text-align: center;
    }

}

@media screen and (max-width: 610px) {
    .mission__title-wrapper {
        width: 100%;
    }
    .mission__container {
        margin: 15% auto 10%;
    }
}

/* === DESIGN ======================================================================================================= */

.main__design {
    position: relative;
}

.design {
}

.design__content {
    position: absolute;
    top: 17.9%;
    left: 7.2%;
    width: 63.4%;
    display: flex;
    justify-content: space-between;
}

.design__text {
    margin: 6.32% 11.83% 10.12% 0;
}

.design__title {
    margin-bottom: 40px;
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 110%;
}

.design__description {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

.design__photo-wrapper {
    position: relative;
    padding: 0 37.47% 37.47% 0;
    overflow: hidden;
}

.design__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design__image {
    width: 40.468%;
    margin-left: auto;
    object-fit: cover;
}

@media screen and (max-width: 1579px) {
    .design__photo-wrapper {
        display: none;
    }
    .design__content {
        width: 50%;
    }
}

@media screen and (max-width: 962px) {
    .main__design {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .design__content {
        position: static;
        width: 90%;
    }
    .design__photo-wrapper {
        width: 100%;
    }
    .design__photo {
        position: static;
    }
    .design__content {
        width: 80%;
        margin: 0 0 10% 0;
    }
    .design__text {
        margin: 0;
    }
    .design__title,
    .design__description {
        text-align: center;
    }
    .design__image {
        width: 100%;
        margin-left: 0;
    }
    .design__title::before {
        content: "";
        display: block;
        width: 140px;
        height: 1px;
        margin: 0 auto 60px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* === ORDER ======================================================================================================== */

.main__order {
}

.order {
}

.order__container {
    width: 51.93%;
    margin: 8.03% auto 16.41%;
}

.order__title {
    margin-bottom: 32px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 110%;
}

.order__text {
    margin-bottom: 26px;
    padding: 0 15.34%;
    color: #6E6E6E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

.order__button-wrapper {
    display: flex;
    justify-content: center;
}

.order__button {
    display: inline-block;
    width: 277px;
    padding: 16px 65px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 130%;
    background-color: #000000;
}

@media screen and (max-width: 1023px) {
    .order__container {
        width: 90%;
        margin: 12% auto 12%;
    }
    .order__container::after {
        content: "";
        display: block;
        width: 140px;
        height: 1px;
        margin: 80px auto 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* === FURNITURE ==================================================================================================== */

.main__furniture {
}

.furniture {
    background-color: #232323;
}

.furniture__container {
    position: relative;
    bottom: 10.813rem;
    left: 0;
    width: 69.531%;
    height: 838px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.furniture__head {
    background-color: #F7F7F7;
    padding: 15px 0;
    border-radius: 16px 16px 0 0;
}

.furniture__circles {
    display: flex;
    column-gap: 6px;
    margin-left: 20px;
}

.furniture__main {
}

.furniture__columns {
}

.columns {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.furniture__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.furniture__column-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.columns__odd {
}

.columns__even {
    align-self: center;
}

@media screen and (max-width: 1199px) {
    .furniture {
        display: none;
    }
}

/* === ADVANTAGES =================================================================================================== */

.main__advantages {
}

.advantages {
}

.advantages__container {
    width: 65.11%;
    margin: 8.18% auto 8.595%;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.advantages__list-item {
    max-width: 300px;
}

.advantages__list-title {
    margin-bottom: 16px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 100%;
}

.advantages__list-text {
    color: #6E6E6E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

@media screen and (max-width: 1615px) {
    .advantages__container {
        width: 90%;
    }
}

@media screen and (max-width: 1023px) {
    .advantages__list {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 80px;
    }
    .advantages__container {
        margin: 10% auto 10%;
    }
}

/* === TEAM ========================================================================================================= */

.main__team {
}

.team {
    display: flex;
}

.team__left {
    flex: 1 1 50%;
    overflow: hidden;
}

.team__left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__right {
    flex: 1 1 50%;
}

.team__content {
    width: 69.375%;
    margin: 14.819% auto 20%;
}

.team__title {
    margin-bottom: 6.91%;
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.team__text {
    margin-bottom: 9.91%;
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

.team__button-wrapper {
}

.team__button {
    display: inline-block;
    width: 277px;
    padding: 16px 65px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
    background-color: #000000;
}

@media screen and (max-width: 962px) {
    .team {
        flex-direction: column;
    }
    .team__content {
        width: 90%;
        margin: 15% auto 15%;
    }
    .team__title,
    .team__text {
        text-align: center;
    }
    .team__button-wrapper {
        display: flex;
        justify-content: center;
    }
}

/* === REVIEWS ====================================================================================================== */

.main__reviews {
}

.reviews {
    background-color: #F1E9E6;
}

.reviews__container {
    max-width: 828px;
    margin: 0 auto;
    padding: 6.515% 0 8.13%;
}

.reviews__title {
    margin-bottom: 8.46%;
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reviews__list-review {
}

.review {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.review:nth-child(even) {
    flex-direction: row-reverse;
}

.review:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 129px;
    border: 0 solid transparent;
    border-left-width: 22px;
    border-top: 22px solid #FFFFFF;
}

.review:nth-child(even)::before {
    content: "";
    position: absolute;
    top: 35px;
    right: 129px;
    border: 0 solid transparent;
    border-bottom-width: 22px;
    border-left: 22px solid #FFFFFF;
}

.review__avatar {
}

.review__text {
    position: relative;
    padding: 32px 54px 36px 42px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.review__quote {
}


.review__author {
    display: block;
    margin-bottom: 12px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 130%;
}

.review__content {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

@media screen and (max-width: 962px) {
    .reviews__container {
        padding: 10% 25px 10%;
    }
}

@media screen and (max-width: 620px) {
    .review:nth-child(odd)::before {
        display: none;
    }

    .review:nth-child(even)::before {
        display: none;
    }
    .review,
    .review:nth-child(even) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .reviews__title {
        margin-bottom: 15%;
    }
    .review__author,
    .review__content {
        text-align: center;
    }
    .review__text {
        padding: 20px;
    }
}

/* === PROJECTS ===================================================================================================== */

.main__projects {
}

.projects {
}

.projects__container {
    width: 85.79%;
    margin: 6.67% auto 11.045%;
}

.projects__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.793%;
}

.projects__title {
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.projects__buttons {
    display: flex;
    column-gap: 14px;
}

.projects__button {
    background: transparent;
}

.projects__button_active {
}

.projects__row {
}

.projects__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.projects__card {
    max-width: 381px;
}

.projects__card-title {
    margin: 29px 0 16px 0;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.projects__card-description {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 200%;
}

/* === CONTACT ====================================================================================================== */

.main__contact {
}

.contact {
}

.contact__container {
    max-width: 730px;
    margin: 91px auto 108px;
}

.contact__title {
    margin-bottom: 64px;
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.contact__form-wrapper {
    display: flex;
    justify-content: center;
}

.contact__form {
    display: flex;
}

.contact__input {
    display: block;
    box-sizing: content-box;
    width: 295px;
    padding: 14px 16px;
    caret-color: transparent;
    border-radius: 5px 0 0 5px;
    border: 1px solid #000;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
}

.contact__input:focus {
    outline: none;
    box-shadow: 1px 1px 3px #ACACAC,
                -1px -1px 3px #ACACAC;
}

.contact__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
}

.contact__button {
    display: block;
    box-sizing: content-box;
    width: 138px;
    padding: 15px 24px;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
    background-color: #18191F;
}

@media screen and (max-width: 767px) {
    .contact__container {
        padding: 0 30px;
    }
    .contact__form {
       flex-direction: column;
    }
    .contact__input {
        border-radius: 5px 5px 0 0;
    }
    .contact__button {
        width: 281px;
        border-radius: 0 0 5px 5px;
    }
}

@media screen and (max-width: 350px) {
    .contact__input {
        width: 200px;
    }
    .contact__button {
        width: 186px;
    }
}

/* === FOOTER ======================================================================================================= */

.footer {
    width: 85.79%;
    margin: 0 auto;
}

.footer::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #000000;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
}

.footer__logo {
    width: 73px;
    height: 50px;
}

.footer__socials {
    display: flex;
    gap: 27px;
}

.footer__social {
}

.footer__social-link {
}

@media screen and (max-width: 500px) {
    .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .footer__socials {
        gap: 15px;
    }
}