/* === NULL STYLE =================================================================================================== */

* {
    padding: 0;
    margin: 0;
    border: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}

html, body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
}

/* === HEADER ======================================================================================================= */

.page {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 3;
    width: 85.78%;
    transform: translateX(-50%);
}

.header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #FFFFFF;
}

.header__nav {
    padding: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320))) 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {

}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.nav__list-item {
}

.nav__list-link {
    color: #FFFFFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 100%;
}

/* === MAIN ========================================================================================================= */

.main {
}

/* === HERO ========================================================================================================= */

.main__hero {
    height: 100vh;
}

.hero {
    position: relative;
    background-image: url("../img/hero/hero_bc.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__content {
    position: absolute;
    top: 31.15%;
    left: 13.39%;
    max-width: 852px;
}

.hero__title {
    margin-bottom: 57px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
}

.hero__button-wrapper {
}

.hero__button {
    padding: 16px 65px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 133.333%
}

/* === MISSION ====================================================================================================== */

.main__mission {
}

.mission {
}

.mission__container {
    width: 85.78%;
    margin: 115px auto 169px;
}

.mission__title-wrapper {
    max-width: 65.83%;
    margin: 0 auto 128px;
}

.mission__title-wrapper::before, .mission__title-wrapper::after {
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mission__title-wrapper::before {
    margin: 0 auto 60px;
}

.mission__title-wrapper::after {
    margin: 60px auto 0;
}

.mission__title {
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
}

.mission__cards-wrapper {
}

.mission__cards {
    display: flex;
    justify-content: space-between;
    gap: 230px;
}

.mission__cards-card {
    max-width: 396px;
}

.mission__cards-number {
    margin-bottom: 36px;
    color: #F1EDEA;
    font-family: "Open Sans", sans-serif;
    font-size: 144px;
    font-weight: 400;
    line-height: 100%;
}

.mission__cards-title {
    margin-bottom: 16px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 100%;
}

.mission__cards-text {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

/* === DESIGN ======================================================================================================= */

.main__design {

}

.design {
    position: relative;
}

.design__content {
    position: absolute;
    top: 17.9%;
    left: 7.2%;
    max-width: 63.42%;
    display: flex;
}

.design__text {
    margin: 6.32% 11.83% 10.12% 0;
}

.design__title {
    margin-bottom: 40px;
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 110%;
}

.design__description {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

.design__cards {
    display: grid;
    grid-template: 228px 228px / 228px 228px;
}

.design__cards-image {
    width: 100%;
    height: 100%;
}

.design__image {
    margin-left: auto;
}

/* === ORDER ======================================================================================================== */

.main__order {
}

.order {
}

.order__container {
    max-width: 51.92%;
    margin: 154px auto 315px;
}

.order__title {
    margin-bottom: 32px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 110%;
}

.order__text {
    margin-bottom: 26px;
    padding: 0 15.34%;
    color: #6E6E6E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}

.order__button-wrapper {
    display: flex;
    justify-content: center;
}

.order__button {
    padding: 16px 65px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 133.333%;
    background-color: #000000;
}

/* === FURNITURE ==================================================================================================== */

.main__furniture {
}

.furniture {
}

.furniture__container {
}

.furniture__head {
}

.furniture__circles {
}

.furniture__main {
}

.furniture__columns {
}

.columns {
}

.furniture__column {
}

.columns__odd {
}

.columns__even {
}

/* === ADVANTAGES =================================================================================================== */

.main__advantages {
}

.advantages {
}

.advantages__container {
    max-width: 65.1%;
    margin: 157px auto 165px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__list-item {
    max-width: 300px;
}

.advantages__list-title {
    margin-bottom: 16px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 100%;
}

.advantages__list-text {
    color: #6E6E6E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

/* === TEAM ========================================================================================================= */

.main__team {
}

.team {
}

.team__left {
}

.team__right {
}

.team__content {
}

.team__title {
}

.team__text {
}

.team__button-wrapper {
}

.team__button {
}

/* === REVIEWS ====================================================================================================== */

.main__reviews {
}

.reviews {
}

.reviews__container {
}

.reviews__title {
}

.reviews__list {
}

.reviews__list-review {
}

.review {
}

.review__avatar {
}

.review__text {
}

.review__quote {
}

.review__author {
}

.review__content {
}

/* === PROJECTS ===================================================================================================== */

.main__projects {
}

.projects {
}

.projects__container {
}

.projects__head {
}

.projects__title {
}

.projects__button {
}

.projects__button_active {
}

.projects__row {
}

.projects__cards {
}

.projects__card {
}

.projects__card-title {
}

.projects__card-description {
}

/* === CONTACT ====================================================================================================== */

.main__contact {
}

.contact {
}

.contact__container {
}

.contact__title {
    margin-bottom: 64px;
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
}

.contact__form {
}

/* === FOOTER ======================================================================================================= */

.footer {
    width: 85.78%;
    margin: 0 auto;
}

.footer::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #000000;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
}

.footer__logo {
    width: 73px;
    height: 50px;
}

.footer__socials {
    display: flex;
    gap: 27px;
}

.footer__social {
}

.footer__social-link {
}