/* === NULL STYLE =================================================================================================== */

* {
    padding: 0;
    margin: 0;
    border: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}

html, body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
}

/* === HEADER ======================================================================================================= */

.page {
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    width: 85.79%;
    transform: translateX(-50%);
}

.header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #FFFFFF;
}

.header__nav {
    padding: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320))) 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.nav__list-item {
}

.nav__list-link {
    color: #FFFFFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 100%;
}

/* === MAIN ========================================================================================================= */

.main {
}

/* === HERO ========================================================================================================= */

.main__hero {
    position: relative;
    height: 100vh;
}

.hero {
    background-image: url("../img/hero/hero_bc.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__content {
    position: absolute;
    top: 31.15%;
    left: 13.39%;
    width: 44.375%;
}

.hero__title {
    margin-bottom: calc(30px + (57 - 30) * ((100vw - 320px) / (1920 - 320)));
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: calc(36px + (60 - 36) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.hero__button-wrapper {
}

.hero__button {
    display: inline-block;
    width: 277px;
    padding: 16px 65px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%
}

.hero__slider-wrapper {
    width: 85.79%;
    margin: 0 auto;
}

.hero__slider {
    position: absolute;
    bottom: 6.034%;
    left: 7.187%;
    display: flex;
    gap: 12px;
}

@media screen and (max-width: 1023px) {
    .hero__content {
        position: static;
        width: 80%;
        margin: 0 auto;
        padding: 40% 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__title {
        text-align: center;
    }
}

/* === MISSION ====================================================================================================== */

.main__mission {
}

.mission {
}

.mission__container {
    width: 85.79%;
    margin: 6.34% auto 9.31%;
}

.mission__title-wrapper {
    width: 65.83%;
    margin: 0 auto 7.78%;
}

.mission__title-wrapper::before, .mission__title-wrapper::after {
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mission__title-wrapper::before {
    margin: 0 auto 60px;
}

.mission__title-wrapper::after {
    margin: 60px auto 0;
}

.mission__title {
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
}

.mission__cards-wrapper {

}

.mission__cards {
    display: flex;
    justify-content: space-between;
    gap: 13.964%;
}

.mission__cards-card {
    width: 24.043%;
}

.mission__cards-number {
    margin-bottom: 36px;
    color: #F1EDEA;
    font-family: "Open Sans", sans-serif;
    font-size: 144px;
    line-height: 100%;
}

.mission__cards-title {
    margin-bottom: 16px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 100%;
}

.mission__cards-text {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

@media screen and (max-width: 1023px) {
    .mission__cards {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .mission__cards-card {
        width: 100%;
        padding: 15px;
    }
    .mission__cards-number {
        text-align: center;
    }
    .mission__cards-title {
        text-align: center;
    }
    .mission__cards-text {
        text-align: center;
    }
}

@media screen and (max-width: 610px) {
    .mission__title-wrapper {
        width: 100%;
    }
    .mission__container {
        margin: 15% auto 20%;
    }
}

/* === DESIGN ======================================================================================================= */

.main__design {
    position: relative;
}

.design {
}

.design__content {
    position: absolute;
    top: 17.9%;
    left: 7.2%;
    width: 63.4%;
    display: flex;
}

.design__text {
    margin: 6.32% 11.83% 10.12% 0;
    flex: 1 1 auto;
}

.design__title {
    margin-bottom: 40px;
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 110%;
}

.design__description {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

.design__photo-wrapper {
    flex: 0 0 37.469%;
}

.design__photo {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.design__image {
    width: 40.468%;
    margin-left: auto;
    object-fit: cover;
}

/* === ORDER ======================================================================================================== */

.main__order {
}

.order {
}

.order__container {
    width: 51.93%;
    margin: 8.03% auto 16.41%;
}

.order__title {
    margin-bottom: 32px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 110%;
}

.order__text {
    margin-bottom: 26px;
    padding: 0 15.34%;
    color: #6E6E6E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 160%;
}

.order__button-wrapper {
    display: flex;
    justify-content: center;
}

.order__button {
    display: inline-block;
    width: 277px;
    padding: 16px 65px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 130%;
    background-color: #000000;
}

@media screen and (max-width: 1023px) {
    .order__container {
        width: 80%;
        margin: 20% auto 20%;
    }
}

/* === FURNITURE ==================================================================================================== */

.main__furniture {
    display: none;
}

.furniture {
    background-color: #232323;
}

.furniture__container {
    position: relative;
    bottom: 173px;
    left: 0;
    width: 69.531%;
    height: 838px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.furniture__head {
    background-color: #F7F7F7;
    padding: 15px 0;
    border-radius: 16px 16px 0 0;
}

.furniture__circles {
    display: flex;
    gap: 6px;
    margin-left: 20px;
}

.furniture__main {
}

.furniture__columns {
}

.columns {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.furniture__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.furniture__column-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.columns__odd {
}

.columns__even {
    align-self: center;
}

/* === ADVANTAGES =================================================================================================== */

.main__advantages {
}

.advantages {
}

.advantages__container {
    width: 65.1%;
    margin: 157px auto 165px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__list-item {
    max-width: 300px;
}

.advantages__list-title {
    margin-bottom: 16px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 100%;
}

.advantages__list-text {
    color: #6E6E6E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

/* === TEAM ========================================================================================================= */

.main__team {
}

.team {
    display: flex;
}

.team__left {
}

.team__right {
}

.team__content {
    width: 69.375%;
    margin: 14.819% auto auto;
}

.team__title {
    margin-bottom: 46px;
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
}

.team__text {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 66px;
}

.team__button-wrapper {
}

.team__button {
    display: inline-block;
    width: 277px;
    padding: 16px 65px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
    background-color: #000000;
}

/* === REVIEWS ====================================================================================================== */

.main__reviews {
}

.reviews {
    background-color: #F1E9E6;
}

.reviews__container {
    width: 43.125%;
    margin: 0 auto;
    padding: 125px 0 156px;
}

.reviews__title {
    margin-bottom: 70px;
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reviews__list-review {
}

.review {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.review:nth-child(even) {
    flex-direction: row-reverse;
}

.review:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 129px;
    border: 0 solid transparent;
    border-left-width: 22px;
    border-top: 22px solid #FFFFFF;
}

.review:nth-child(even)::before {
    content: "";
    position: absolute;
    top: 35px;
    right: 129px;
    border: 0 solid transparent;
    border-bottom-width: 22px;
    border-left: 22px solid #FFFFFF;
}

.review__avatar {
}

.review__text {
    position: relative;
    padding: 32px 54px 36px 42px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.review__quote {
}


.review__author {
    display: block;
    margin-bottom: 12px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
}

.review__content {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

/* === PROJECTS ===================================================================================================== */

.main__projects {
}

.projects {
}

.projects__container {
    width: 85.79%;
    margin: 128px auto 212px;
}

.projects__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.projects__title {
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
}

.projects__buttons {
    display: flex;
    gap: 14px;
}

.projects__button {
    background: transparent;
}

.projects__button_active {
}

.projects__row {
}

.projects__cards {
    display: flex;
    gap: 40px;
}

.projects__card {
}

.projects__card-title {
    margin: 29px 0 16px 0;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 120%;
}

.projects__card-description {
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
}

/* === CONTACT ====================================================================================================== */

.main__contact {
}

.contact {
}

.contact__container {
    width: 38.02%;
    margin: 91px auto 108px;
}

.contact__title {
    margin-bottom: 64px;
    color: #404040;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
}

.contact__form-wrapper {
    display: flex;
    justify-content: center;
}

.contact__form {
    display: flex;
}

.contact__input {
    display: block;
    box-sizing: content-box;
    width: 295px;
    padding: 14px 16px;
    caret-color: transparent;
    border-radius: 5px 0 0 5px;
    border: 1px solid #000;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
}

.contact__input:focus {
    outline: none;
    box-shadow: 1px 1px 3px #ACACAC,
                -1px -1px 3px #ACACAC;
}

.contact__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
}

.contact__button {
    display: block;
    box-sizing: content-box;
    width: 138px;
    padding: 15px 24px;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    line-height: 133%;
    background-color: #18191F;
}

/* === FOOTER ======================================================================================================= */

.footer {
    width: 85.79%;
    margin: 0 auto;
}

.footer::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #000000;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
}

.footer__logo {
    width: 73px;
    height: 50px;
}

.footer__socials {
    display: flex;
    gap: 27px;
}

.footer__social {
}

.footer__social-link {
}